#include "resource.h"
#include <windows.h>

IDI_APPICON ICON "app.ico"

IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Browse Folder...\tCtrl+O", 1001
        MENUITEM "&Refresh\tF5", 1002
        MENUITEM SEPARATOR
        MENUITEM "E&xit", 2
    END
    POPUP "&View"
    BEGIN
        MENUITEM "Toggle &Dark Mode\tCtrl+D", 1003
    END
END
