#include "resource.h"
#include <windows.h>

IDI_APPICON ICON "app.ico"

IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Browse Folder...\tCtrl+O", 1001
        MENUITEM "&Refresh\tF5", 1002
        MENUITEM SEPARATOR
        MENUITEM "E&xit", 2
    END
    POPUP "&View"
    BEGIN
        MENUITEM "Toggle &Dark Mode\tCtrl+D", 1003
        MENUITEM SEPARATOR
        MENUITEM "&Preferences...", ID_PREFERENCES
    END
END

IDD_PREFERENCES DIALOGEX 0, 0, 320, 280
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Color Preferences"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Customize the colors used for size visualization bars:",IDC_STATIC,10,10,300,8
    LTEXT           "Click on the color button to change each zone's color:",IDC_STATIC,10,25,300,8
    
    LTEXT           "Zone 1 (0% - 10%):",IDC_LABEL1,10,45,100,8
    CONTROL         "",IDC_PREVIEW1,"Static",SS_BLACKFRAME | WS_BORDER,115,42,50,14
    PUSHBUTTON      "Change Color",IDC_COLOR1,175,40,70,16
    
    LTEXT           "Zone 2 (10% - 20%):",IDC_LABEL2,10,70,100,8
    CONTROL         "",IDC_PREVIEW2,"Static",SS_BLACKFRAME | WS_BORDER,115,67,50,14
    PUSHBUTTON      "Change Color",IDC_COLOR2,175,65,70,16
    
    LTEXT           "Zone 3 (20% - 40%):",IDC_LABEL3,10,95,100,8
    CONTROL         "",IDC_PREVIEW3,"Static",SS_BLACKFRAME | WS_BORDER,115,92,50,14
    PUSHBUTTON      "Change Color",IDC_COLOR3,175,90,70,16
    
    LTEXT           "Zone 4 (40% - 60%):",IDC_LABEL4,10,120,100,8
    CONTROL         "",IDC_PREVIEW4,"Static",SS_BLACKFRAME | WS_BORDER,115,117,50,14
    PUSHBUTTON      "Change Color",IDC_COLOR4,175,115,70,16
    
    LTEXT           "Zone 5 (60% - 80%):",IDC_LABEL5,10,145,100,8
    CONTROL         "",IDC_PREVIEW5,"Static",SS_BLACKFRAME | WS_BORDER,115,142,50,14
    PUSHBUTTON      "Change Color",IDC_COLOR5,175,140,70,16
    
    LTEXT           "Zone 6 (80% - 100%):",IDC_LABEL6,10,170,100,8
    CONTROL         "",IDC_PREVIEW6,"Static",SS_BLACKFRAME | WS_BORDER,115,167,50,14
    PUSHBUTTON      "Change Color",IDC_COLOR6,175,165,70,16
    
    PUSHBUTTON      "Reset to Defaults",IDC_RESET_COLORS,10,200,100,16
    
    DEFPUSHBUTTON   "OK",IDOK,150,250,70,16
    PUSHBUTTON      "Cancel",IDCANCEL,230,250,70,16
END

